<ul class="menu"></ul>

<!-- <li class="hover"><a href="#">文件</a>
  <ul>
    <li><a href="javascript:;">新建工作簿</a></li>
    <li class="group-line"></li>
    <li><a href="javascript:;">打开数据</a></li>
    <li><a href="javascript:;">添加指标</a></li>
    <li class="group-line"></li>
    <li><a href="javascript:;">上传数据</a></li>
    <li class="group-line"></li>
    <li class="child"><a href="javascript:;">保存</a></li>
    <li><a href="javascript:;">另存为</a></li>
    <li class="group-line"></li>
    <li><a href="javascript:;">下载</a></li>
    <li class="group-line"></li>
    <li class="child disable"><a href="javascript:;">打印</a>
      <ul>
        <li><a href="javascript:;">打印些啥</a></li>
      </ul>
    </li>
    <li class="group-line"></li>
    <li><a href="javascript:;">关闭</a></li>
  </ul>
</li>
<li><a href="javascript:;">编辑</a></li>
<li><a href="javascript:;">表格</a></li>
<li><a href="javascript:;">图表</a></li>
<li><a href="javascript:;">地图</a></li>
<li><a href="javascript:;">分析预测</a></li> -->