@import "normalize.scss";
@import "global.scss";
@import "icons.scss";
@import "buttons.scss";
@import "inline-style.scss";
@import "input.scss";
@import "accordion.scss";
@import "menu.scss";
@import "toolbar.scss";
@import "tabs.scss";
@import "fiexible.scss";

div {
  // outline: 1px solid orange;
}

// 布局变量
$plat-side-width: rem-calc(230);
$plat-side-top-height: rem-calc(100);
$plat-body-info-width: rem-calc(290);
$plat-body-hander-height: rem-calc(78px);
$plat-body-footer-height: rem-calc(32px);

$plat-body-hamburger-width: rem-calc(40);
$plat-body-hamburger-height: rem-calc(40);

// 布局颜色
$plat-side-bg-color: #5e636b;
$plat-hamburger-bg-color: #ff8585;
$plat-main-bg-color: #f5f7f9;
$plat-body-info-border-color: #a3a4a5;
$plat-body-info-bg-color: #fefefe;
$plat-info-sudo-font-size: rem-calc(12);
$plat-info-sudo-color: $white;
$plat-info-sudo-bg-color: #87c4ff;
$plat-body-footer-border-color: #d7dadc;
$plat-body-footer-bg-color: #f0f0f0;

#plat-main {
  height: 100%;
  padding-left: $plat-side-width;
  background-color: $plat-main-bg-color;

  #plat-side {
    height: 100%;
    width: $plat-side-width;
    padding-top: $plat-side-top-height;
    margin-left: -$plat-side-width;
    background-color: $plat-side-bg-color;

    #plat-side-top {
      height: $plat-side-top-height;
      padding-top: rem-calc(18);
      margin-top: -$plat-side-top-height;
      line-height: 0;
      text-align: center;

      > div { margin: rem-calc(6) 0 rem-calc(1) 0;} // icon底线
    }

    #plat-side-content {
      height: 100%;
    }
  }

  #plat-body {
    height: 100%;
    padding-top: $plat-body-hander-height;
    padding-bottom: $plat-body-footer-height;

    #plat-body-hander {
      height: $plat-body-hander-height;
      margin-top: -$plat-body-hander-height;

      .menu { display: inline-block; vertical-align: middle; }
      .toolbar { padding-left: 52px; }
    }

    #plat-body-hamburger {
      position: relative;
      width: $plat-body-hamburger-width;
      height: $plat-body-hamburger-height;
      margin-right: rem-calc(10);
      background-color: $plat-hamburger-bg-color;
      border-color: $plat-hamburger-bg-color;
      vertical-align: middle;

      @include hamburger(
        $width:18px, $thickness:1px,
        $top:12px, $left:10px,
        $gap:6px, $color:$white,
        $offcanvas:true);
    }

    #plat-body-info {
      position: relative;
      height: 100%;
      width: $plat-body-info-width;
      padding: 20px 0 0 10px;
      border-left: 1px solid $plat-body-info-border-color;
      background-color: $plat-body-info-bg-color;
      overflow: hidden;

      #plat-info-sudo {
        position: absolute;
        top: 5px;
        right: 0;
        font-size: $plat-info-sudo-font-size;
        color: $plat-info-sudo-color;
        background: $plat-info-sudo-bg-color;
        border-color: $plat-info-sudo-bg-color;
        border-radius: 4px;
      }
    }

    #plat-body-container {
      height: 100%;
    }

    #plat-body-footer {
      height: $plat-body-footer-height;
      padding: 0 0 0 20px;
      border-top: 1px solid $plat-body-footer-border-color;
      background-color: $plat-body-footer-bg-color;

      > .icon-btn {
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }
}