<!-- 指标推荐 -->
<!-- <div class="recommend-container" ng-controller="indicatorRecommend as irvm">
  <span class="line-font-line">{{irvm.title}}</span>
  <label class="checkbox fn-fonthid" title="{{item.text}}"
    ng-repeat="item in irvm.recommends"
    ng-class="{'selected': irvm.selectRecord[item.indicatorCode]}"
    ng-click="irvm.selected(item)">{{item.indicatorName}}</label>
</div>
 -->

<div class="recommend-container" ng-controller="indicatorRecommendCtrl as ircvm">
  <span class="line-font-line">{{ircvm.title}}</span>
  <label class="checkbox fn-fonthid" title="{{item.name}}"
    ng-repeat="item in ircvm.recommends"
    ng-class="{'selected': ircvm.selectRecord[item.code]}"
    ng-click="ircvm.selected(item.code)">{{item.name}}</label>
</div>