<div class="recommend-container" ng-controller="LeftRecommendCtrl as rcvm">
  <span class="line-font-line">{{rcvm.title}}</span>
  <label class="checkbox selected fn-fonthid" title="森林火灾其他损失折款（万元）">森林火灾其他损失折款（万元）</label>
  <label class="checkbox fn-fonthid" title="森林火灾其他损失折款（万元）">森林火灾其他损失折款（万元）</label>
  <label class="checkbox fn-fonthid" title="森林火灾其他损失折款（万元）">森林火灾其他损失折款（万元）（万元）</label>
  <label class="checkbox fn-fonthid" title="森林火灾其他损失折款（万元）">森林火灾其他损失折款（万元）（万元）</label>
  <label class="checkbox fn-fonthid" title="森林火灾其他损失折款（万元）">森林火灾其他损失折款（万元）（万元）</label>
  <label class="checkbox fn-fonthid" title="森林火灾其他损失折款（万元）">森林火灾其他损失折款（万元）（万元）</label>
</div>